@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda&family=Sacramento&display=swap');





.navbar-brand {
    font-family: 'Sacramento', cursive;
}

.navbar-nav,
.header,
.card-text,
.text-main h1,
.text-learnings h1,
.text-graduate-head h1,
.pricing h1 {
    font-family: 'Quicksand', sans-serif;
}

.text-header p,
.text-main p,
.text-learnings p,
.text-graduate-head p,
.pricing p {
    font-family: 'Source Sans Pro', sans-serif;
}






.navbar-brand {
    width: 100%;
    font-size: 3em;
}

.collapse {
    justify-content: center;
}

.navbar-nav {
    font-size: 1.2em;
}






.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 5em;
    background-image: conic-gradient(white 70deg, rgb(9, 147, 189) 70deg, rgb(9, 147, 189) 250deg, white 250deg);
}

.img-header {
    width: 40%;
}

.img-header img {
    width: 100%;
}

.text-header {
    width: 60%;
    text-align: center;
}

.text-header h1 {
    font-size: 5em;
}

.text-header p {
    font-size: 20px;
}






.main {
    padding-top: 7.5em;
    padding-bottom: 5em;
    background-image: conic-gradient(rgb(9, 147, 189) 71deg, white 63deg, white 247deg, rgb(9, 147, 189) 247deg);
}

.text-main {
    color: #fff;
}

.card-main:hover {
    transform: translateY(10px);
    transition: .2s .2s;
    box-shadow: 1px 1px 1px black;
}

.card-main img {
    height: 200px;
}






.learnings {
    padding-top: 10em;
    position: relative;
}

.gif {
    width: 10%;
    position: absolute;
}

.two {
    top: 380px;
    left: 510px;
}

.three {
    left: 1000px;
    bottom: -150px;
}

.four {
    left: 1120px;
    bottom: -90px;
}

.five {
    left: 230px;
    bottom: -95px;
}

.six {
    top: 370px;
    left: 110px;
}

.img-learnings {
    background-color: rgb(69, 107, 211);
    width: 500px;
    height: 300px;
    position: relative;
}

.img-learnings img {
    left: -20px;
    top: -20px;
    width: 100%;
    position: absolute;

}

.card-learnings img {
    height: 206px;
}







.graduate {
    padding-top: 5em;
    background-image: conic-gradient(white 115deg, rgb(9, 120, 194) 115deg, rgb(9, 120, 194) 295deg, white 295deg);
}

.graduate-box {
    width: 40%;
    background-color: #fff;
    border: .5px solid black;
}

.img-graduate-head {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.img-graduate img {
    width: 100px;
    height: 115px;
    border-radius: 5px 0 0 5px;
}







.pricing {
    padding-top: 4.5em;
    padding-bottom: 5em;
    background-image: conic-gradient(rgb(9, 120, 194) 117deg, white 117deg, white 293deg, rgb(9, 120, 194) 293deg);
}

.text-price {
    color: #fff;
}

.card-title-price {
    text-align: center;
    font-size: 2.5em;
}

.card-body li {
    list-style: none;
    font-size: 1.3em;
    margin: 0.6em auto;
}

.card-body li i {
    background-color: #000;
    border-radius: 100%;
    color: #fff;
    font-size: 1.1em;
}

.card-title-price i {
    font-size: 1.5em;
}

.card-header {
    text-align: center;
}

.card-body-price {
    position: relative;
}

.card-footer {
    position: absolute;
    top: 470px;
    width: 100%;
}






.footer {
    color: rgba(255, 255, 255, .8);
    background-color: rgba(3, 13, 44, .9);
}

.footer-partners {
    margin: 5em auto;
    justify-content: space-evenly;
}

.footer-bottom {
    justify-content: space-around;
}

.social-media i {
    font-size: 2em;
    margin: auto .5em;
}