@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda&family=Sacramento&display=swap');





.navbar-brand,
.text-header h1 {
    font-family: 'Sacramento', cursive;
}

.navbar-nav,
.header,
.card-text,
.text-main h1,
.text-learnings h1,
.text-graduate-head h1,
.pricing h1 {
    font-family: 'Quicksand', sans-serif;
}

.text-header p,
.text-main p,
.text-learnings p,
.text-graduate-head p,
.pricing p {
    font-family: 'Source Sans Pro', sans-serif;
}




.navbar {
    padding: auto 1em;
}

.navbar-brand {
    width: 100%;
    font-size: 3em;
}

.collapse {
    justify-content: center;
}

.navbar-nav {
    font-size: 1.2em;
}






.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 5em;
    background-image: conic-gradient(white 70deg, rgb(9, 147, 189) 70deg, rgb(9, 147, 189) 250deg, white 250deg);
}

.img-header {
    width: 40%;
}

.img-header img {
    width: 100%;
}

.text-header {
    width: 60%;
    text-align: center;
    color: #fff;
}

.text-header h1 {
    font-size: 5em;
}

.text-header p {
    font-size: 20px;
}






.main {
    padding-top: 7.5em;
    padding-bottom: 5em;
    background-image: conic-gradient(rgb(9, 147, 189) 71deg, white 63deg, white 247deg, rgb(9, 147, 189) 247deg);
}

.text-main {
    color: #fff;
}

.activity-main {
    display: flex;
}

.card-main:hover {
    transform: translateY(10px);
    transition: .2s .2s;
    box-shadow: 1px 1px 1px black;
}

.card-main img {
    height: 200px;
}






.learnings {
    padding-top: 8em;
    padding-bottom: 5em;
    position: relative;
}

.gif {
    width: 10%;
    position: absolute;
}


.two {
    top: 400px;
    left: 90px;
}

.three {
    top: 450px;
    left: 510px;
}

.four {
    left: 1000px;
    bottom: 90px;
}

.five {
    left: 320px;
    bottom: 12px;
}

.six {
    left: 800px;
}

.seven {
    left: 60px;
    bottom: 80px;
}

.img-learnings {
    background-color: rgb(69, 107, 211);
    width: 500px;
    height: 300px;
    position: relative;
}

.img-learnings img {
    left: -20px;
    top: -20px;
    width: 100%;
    position: absolute;

}

.card-learnings img {
    height: 206px;
}







.graduate {
    padding-top: 5em;
    background-image: conic-gradient(white 115deg, rgb(9, 120, 194) 115deg, rgb(9, 120, 194) 295deg, white 295deg);
}

.graduate-box {
    width: 40%;
    margin-top: 1em;
    display: flex;
    background-color: #fff;
    border: .5px solid black;
}

.img-graduate-head {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.img-graduate img {
    width: 100px;
    height: 115px;
    border-radius: 5px 0 0 5px;
}







.pricing {
    padding-top: 4.5em;
    padding-bottom: 5em;
    background-image: conic-gradient(rgb(9, 120, 194) 116deg, white 116deg, white 297deg, rgb(9, 120, 194) 297deg);
}

.text-price {
    color: #fff;
}

.card-title-price {
    text-align: center;
    font-size: 2.5em;
}

.card-body li {
    list-style: none;
    font-size: 1.3em;
    margin: 0.6em auto;
}

.card-body li i {
    background-color: #000;
    border-radius: 100%;
    color: #fff;
    font-size: 1.1em;
}

.card-title-price i {
    font-size: 1.5em;
}

.card-header {
    text-align: center;
}

.card-body-price {
    position: relative;
}

.card-footer {
    position: absolute;
    top: 470px;
    width: 100%;
}






.footer {
    color: rgba(255, 255, 255, .8);
    background-color: rgba(3, 13, 44, .9);
}

.footer-partners {
    margin: 5em auto;
    justify-content: space-evenly;
}

.footer-bottom {
    display: flex;
    justify-content: space-around;
}

.social-media i {
    font-size: 2em;
    margin: auto .5em;
    cursor: pointer;
}



/* MEDIA QUERY */
@media screen and (max-width: 422px) {

    .header,
    .footer-bottom,
    .img-graduate-head {
        display: block;
    }


    .navbar-brand {
        width: 0;
        padding-left: .5em;
    }




    .header {
        padding: 2em 1em;
    }

    .img-header {
        width: 90%;
    }

    .text-header {
        padding-top: 1em;
        width: 100%;
    }

    .activity-main {
        display: grid;
    }

    .card-main img {
        height: 150px;
    }




    .img-learnings {
        display: none;
    }

    .two {
        top: 360px;
        left: 70px;
    }

    .three {
        top: 380px;
        left: 310px;
    }

    .four {
        left: 250px;
        bottom: 0;
    }

    .five {
        left: 70px;
        bottom: 0;
    }

    .six {
        left: 340px;
    }

    .seven {
        left: 40px;
        bottom: 100px;
    }

    .graduate-box {
        width: 100%;
        /* margin-top: 1em; */
        justify-content: space-between;
    }

    .text-graduate {
        text-align: center;
        margin: auto;
    }

    .text-graduate h5 {
        font-size: 15px;
    }

    .social-media i {
        margin: 20px 10px;
    }
}